DB_URL=<remote url for the db>
DB_AUTH=<token>
DISCORD_CLIENT_ID=<client id>
DISCORD_CLIENT_SECRET=<client secret>
DISCORD_GUILD_ID=<server id>
JWT_SECRET=<random secret>
APP_BASE_URL=http://localhost:3000