<!-- holds our global data-signals -->
<div
  data-signals="{isOpenEdit: false}"
  id="cell-modal"
  data-show="$isOpenEdit"
  style="display: none"
  class="modal"
>
  <div class="modal-content">
    <h2>
      WIZARD, WHAT WHILST YOU DO TO CELL
      <span data-text="$cellSelected.id"></span>
    </h2>
    <div data-text="$modalEditing"></div>
    <form id="edit-cell-form">
      <div>
        <label for="color"
          >What color is this place? Currently it is
          <span
            data-text="
            $cellSelected &&
            'color' in $cellSelected ? $cellSelected.color : 'no color'
          "
          ></span
        ></label>
        <br />
        <input name="color" id="color" />
      </div>
      <div>
        <label for="description">Describe this place</label> <br />
        <input name="description" id="description" />
      </div>
      <div>
        <label for="map_link">Does this place link to another?</label> <br />
        <input name="map_link" id="map_link" />
      </div>
      <div>
        <label for="region">Does this place have nature?</label> <br />
        <input type="radio" id="desert" name="region" value="desert" />
        <label for="desert">desert</label><br />
        <input type="radio" id="forest" name="region" value="forest" />
        <label for="forest">forest</label><br />
        <input type="radio" id="water" name="region" value="water" />
        <label for="water">water</label>
      </div>
      <div>
        <label for="building">Does this place have a building?</label> <br />
        <input type="radio" id="tower" name="building" value="tower" />
        <label for="tower">tower</label><br />
        <input type="radio" id="cave" name="building" value="cave" />
        <label for="cave">cave</label><br />
        <input type="radio" id="hut" name="building" value="hut" />
        <label for="hut">hut</label>
        <input type="radio" id="house" name="building" value="house" />
        <label for="house">house</label>
        <input type="radio" id="castle" name="building" value="castle" />
        <label for="castle">castle</label>
      </div>
      <button
        data-on:click="
          @post(`../spellbook/cell/${$cellSelected.id}`, {contentType: 'form'});
          $isOpenEdit = false;
        "
      >
        UPDATE
      </button>
    </form>
  </div>
</div>
