<h1><%- title %></h1>
<nav>
  <p><a href="/">HOME</a></p>
  <p><a href="/wizards">View All WIZARDS</a></p>
  <p><a href="/maps">List all Maps</a></p>
  <p><a href="/terraform">Terraform a map</a></p>
  <p><a href="/login">Create or Assume a Wizard</a></p>
  <p><a href="https://github.com/csalzman/wizardcity">github</a></p>
</nav>
<!-- Automatically hooks into the SSE loop on load -->

<h3 data-init="@get('/stream')">Live Feed Notifications</h3>

<!-- This targeted element gets instantly swapped by the broadcast -->
<div id="status-feed">Waiting for updates...</div>
