<!-- holds our global data-signals -->
<div
  data-signals="{isViewOpen: false}"
  id="cell-modal"
  data-show="$isViewOpen"
  style="display: none"
  class="modal"
>
  <div class="modal-content">
    <h2>
      WIZARD, HERE IS WHAT YOU SEEK
      <span data-text="$cellSelected.id"></span>
    </h2>
    <div>
      <span
        data-text="($cellSelected && 'description' in $cellSelected) ? $cellSelected.description : 'No description' || 'No Description'"
      ></span>
      <span
        data-text="($cellSelected && 'nature' in $cellSelected) ? $cellSelected.nature : 'No nature'"
      ></span>
      <span
        data-text="($cellSelected && 'region' in $cellSelected) ? $cellSelected.region : 'No region'"
      ></span>
    </div>
  </div>
</div>
