<div id="wand-modes" data-signals="{wandMode: 'VIEW'}">
  WAND IS IN <span data-text="$wandMode"></span> MODE
  <button data-on:click="$wandMode = 'VIEW'">VIEW Mode</button>
  <button data-on:click="$wandMode = 'EDIT'">EDIT Mode</button>
  <button
    data-on:click="
    $wandMode = 'REGION';
    $isRegionOpen = true;
   "
  >
    REGION Mode
  </button>
</div>
