<html>
  <%- include('partials/head') %>
  <body>
    
    <%- include('partials/header', {title: 'Wizard City'}) %>

    <div>Random Map</div>
    <div id="map" data-init="@get('/spellbook/maps/asdf')">
      Loading initial state...
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
