<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <div id="map" data-init="@get('/spellbook/maps/<%- title %>')">
      Loading initial state...
    </div>
  </body>
</html>
