<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <form id="terraformform">
      <label for="name">Name</label><input name="name" id="name" />
      <button
        data-on:click="@post('spellbook/create-map', {contentType: 'form'})"
      >
        Terraform
      </button>
    </form>
    <div data-text="$terraformOutput"></div>
  </body>
</html>
