<html>
  <%- include('partials/head') %>
  <body>
    <h1>WIZARD CITY</h1>
    <%- include('partials/header') %>

    <div id="map" data-init="@get('/spellbook/maps/xyz')">
      Loading initial state...
    </div>
  </body>
</html>
