<html>
  <body>
    <h1>Terraform</h1>
    <%- include('partials/header') %>
    <form method="POST" action="http://localhost:3000/maps">
      <label for="name">Name</label><input name="name" id="name" />
      <button type="submit">Terraform Plane</button>
    </form>
  </body>
</html>
